body{
    background-color:  whitesmoke;
    padding: 20px;
    margin:auto;
    align-items: center;
    font-family: sans-serif;
    text-align: center;
}

h1{
    width: 100%;  
    background-color: #2b6c99; 
    color: white; 
    padding: 37px;
    margin: -18px;
    text-align: center;
}

#search-form{
    width: 600px;
    border-radius: 2px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    display: inline;

    
}

.country-name {
    border: 4px solid #f0f0f0;
	display: block;
	font-size: 12px;
	padding: 10px;
    text-align: center;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 100px;
   
}

.countryDiv{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    display: block;
   
    text-align: center;
    background-color: white;
   
} 

button { 
    padding: 8px 15px; 
    background-color: #2ecc71; 
    border: none; 
    border-radius: 5px; 
    color: white; }




.countryDiv {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    background-color: #2b6c99;
    text-align: center;
  }
  
  .countryDiv:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  } 




  /* body { 
    font-family: Arial, sans-serif;
     margin: 0; 
     padding: 0; }

  header { }

  form { display: inline-block; margin-top: 10px; }

  input { padding: 8px; border: none; border-radius: 5px; }

  button { padding: 8px 15px; background-color: #2ecc71; border: none; border-radius: 5px; color: white; }

  #country-cards { display: flex; flex-wrap: wrap; justify-content: space-around; margin: 20px; }

  .country-card { border: 1px solid #ccc; padding: 10px; margin: 10px; } */